<div id="<%= dom_id character %>">
  <p>
    <strong>Name:</strong>
    <%= character.name %>
  </p>

  <p>
    <strong>Xp:</strong>
    <%= character.xp %>
  </p>

  <p>
    <strong>Rocks:</strong>
    <%= character.rocks %>
  </p>

  <p>
    <strong>Gems:</strong>
    <%= character.gems %>
  </p>

  <p>
    <strong>Hair:</strong>
    <%= character.hair %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= character.note %>
  </p>
</div>
