<div id="<%= dom_id character %>">
  <h2><%= character.name %></h2>

  <p>
    <strong>Xp:</strong>
    <%= character.xp %>
  </p>

  <p>
    <strong>Rocks:</strong>
    <%= character.rocks %>
  </p>

  <p>
    <strong>Gems:</strong>
    <%= character.gems %>
  </p>

  <p>
    <strong>Hair:</strong>
    <%= character.hair %>
  </p>

  <h3>Notes</h3>
  <% character.notes.each do |note| %>
    <p>
      <strong><%= note.updated_at.to_date %>:</strong>
      <%= note.body %>
    </p>
  <% end %>
</div>
